body {
    background: $c-black;
    color: $c-white;
}
.cFooter {
    padding:45px 0;
    text-align: center;
    &-title {
        @extend .title;
    }
    &-subtitle {
        font-family: $f-aktiv;
        font-weight: lighter;
        margin:15px 0;
        font-size: 18px;
        color: #FFFFFF;
        letter-spacing: 1.67px;
        text-align: center;
        @media (max-width: 1024px) {
            font-size: 16px;
            color: #FFFFFF;
            letter-spacing: 1.33px;
            text-align: center;
        }
    }
    &-info {
        border-top:1px solid $c-teal;
        border-bottom:1px solid $c-teal;
        padding: 50px 0 30px 0;
    }
    &-input {
        width: 60%;
        padding: 15px 25px;
        margin:0;
        @media (max-width: 425px) {
            width: 60%;
            margin:0;
        }
    }
    &-btn {
        padding: 11px;
        width: 40%;
        padding: 22px 0;
        background-color: $c-teal;
        color: $c-white;
        border: 1px solid $c-teal;
        font-family: $f-aktiv;
        font-weight: bold;
        line-height: 0;
        font-size: 15px;
        letter-spacing: 1px;
        text-align: center;
        // @media (max-width: 425px) {
            // width: 30%;
        // }
        @extend .animatable;
        &:hover {
            background:$c-white;
            color:$c-teal;
        }
    }
    form {
        max-width: 540px;
        margin: 25px auto;
        width:90%;
        display: flex;
        @media (max-width: 768px) {
            width:100%;
        }
    }
    &-linkList {
        display: flex;
        justify-content: space-evenly;
        width: 70%;
        margin: auto;
        margin-bottom: 20px;
        max-width: 1020px;
        flex-wrap: wrap;
        overflow: hidden;
        @media (max-width: 425px) {
            margin: auto;
            text-align: center;
            width: 100%;
        }
        @media (max-width: 1024px) {
            font-size:16px;
        }
        a {
            font-family: $f-aktiv;
            font-weight: lighter;
            font-size: 18px;
            letter-spacing: 1.67px;
            white-space: nowrap;
            @media (max-width: 1024px) {
                font-size:16px;
            }
        }
        img {
            @extend .animatable;
            margin-left:5px;
            width:40px;
            height:40px;
            margin:5px 0 0 5px;
        }
        a:hover {
            img {
                transform:translateX(2px);
            }
        }
    }
    &-link {
        &.blue {
            color: $c-teal;
            text-decoration: none;
            @extend .animatable;
            letter-spacing: 0;
            font-size:18px;
            font-weight: lighter;
            &:hover {
                color: $c-white;
            }
            @media (max-width: 425px) {
                text-align: center;
                margin:10px;
                width:100%;
            }
        }
        &.white {
            color: #FFF;
            text-decoration: none;
            display: flex;
            line-height: 0.8;
            transition: 0.3s ease-in-out;
            letter-spacing: 1.67px;
            font-size: 18px;
            &:hover {
                color: $c-teal;
            }
            @media (max-width: 425px) {
                margin: 0;
                text-align: center;
            }
        }
        &-wrapper {
            text-align: center;
            max-width:100px;
            margin:auto;
            @media (max-width: 425px) {
                width: 33.333%;
            }
        }
    }
    &-subsection-inner {
        display: flex;
        margin: auto;
        padding: 25px 0;
        max-width: 1340px;
        img {
            max-width: 189px;
        }
        @media (max-width: 1024px) {
            justify-content: space-evenly;
            flex-direction: column;
            align-items: center;
            >:first-child {
                display: none;
            }
        }
    }
    &-subtext {
        margin:10px 0  25px 0;
        font-weight: bold;
        font-size: 18px;
        @media (max-width: 1024px) {
            font-size:16px;
            .cFooter-link{
                font-size:16px;
                margin:0;
            }
        }
    }
    &-sublinkList {
        margin: auto 0;
        display: flex;
        justify-content: space-between;
        width: 45%;
        flex-wrap: wrap;
        >a {
            font-family: $f-aktiv;
            font-weight: lighter;
            font-size: 15px;
            color: #00B4B4;
            letter-spacing: 1.67px;
            text-align: center;
        }
        @media (max-width: 768px) {
            margin:0 auto;;
            text-align: center;
            display: flex;
            flex-direction: column;
            >a {
                display: block;
                text-align: center;
                margin:12px auto;
            }
        }
    }
    .content {
        width: 30%;
        @media (max-width: 425px) {
            display:none;
        }
    }
    &-footnote {
        color: grey;
        font-size: 13px;
        letter-spacing: 1.67px;
    }
    // .chevron-right {
    //     height: 55px;
    //     width: 50px;
    // }
}
