body {
    background: $c-black;
    color: $c-white;
}
.cFooter {
    text-align: center;
    &-title {
        font-size: 40px;
    }
    &-subtitle {
        font-size: 20px;
    }
    &-info {
        border-top:1px solid $c-teal;
        border-bottom:1px solid $c-teal;
        padding: 30px 0;
    }
    &-input {
        width: 30%;
        padding: 10px;
        margin:10px 0;
    }
    &-btn {
        padding: 11px;
        width: 15%;
        background-color: $c-teal;
        color: $c-white;
        border: 1px solid $c-teal;
    }
    &-linkList {
        display: flex;
        justify-content: space-evenly;
        width: 70%;
        margin: auto;
        margin-bottom: 20px;
    }
    &-link {
        &.blue {
            color: $c-teal;
            text-decoration: none;
            transition: 0.3s ease-in-out;
            letter-spacing: 1.67px;
            font-size:15px;
            &:hover {
                color: $c-white;
            }
        }
        &.white {
            color: #FFF;
            text-decoration: none;
            display: flex;
            line-height: 0.8;
            transition: 0.3s ease-in-out;
            letter-spacing: 1.67px;
            font-size: 20px;
            &:hover {
                color: $c-teal;
            }
        }
    }
    &-subsection-inner {
        display: flex;
        margin: auto;
    }
    &-subtext {
        margin-bottom: 20px;
    }
    &-sublinkList {
        margin: auto 0;
        display: flex;
        justify-content: space-between;
        width: 45%;
    }
    .content {
        width: 30%;
    }
    &-footnote {
        color: grey;
        font-size: 13px;
        letter-spacing: 1.67px;
    }
}
.chevron-right {
    fill: #00BBBA;
    font-size: 2px;
    height: 50px;
    width: 65px;
}
