.cHomeHeader {
  position: relative;
  min-height:  50vh;
  display:flex;
  flex-direction: column;
  &-bg {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-size: contain;
    background-position: right center;
    background-repeat:no-repeat;
    background-color:#00051b;
    z-index:2;

  }
  &-inner {
    position:relative;
    z-index:3;
    width:90%;
    max-width:1240px;
    margin:auto;
    padding:35px 0;
  }
  &-title {
    max-width:460px;
    font-size:20px;
  }
  &-subtitle {
    width: 30%;
    font-size: 20px;
    @media (max-width: 768px) {
      width:60%
    }
  }
}