.cHomeHeader {
  position: relative;
  min-height:  50vh;
  @media(min-height:850px) {
    min-height: 450px;
  }
  display:flex;
  flex-direction: column;
  border-bottom: 1px solid $c-teal;
  &-bg {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-size: contain;
    background-position: right center;
    background-repeat:no-repeat;
    background-color:#00051b;
    z-index:2;
    @media (max-width: 768px) {
      background-size:cover;
      opacity: 0.8;;
    }

  }
  &-inner {
    position:relative;
    z-index:3;
    width:90%;
    max-width:1240px;
    margin:auto;
    padding:35px 0;
  }
  &-title, &-title {
    // max-width:460px;
    @extend .title;
  }
  &-subtitle {
    // width: 30%;
    max-width: 480px;
    font-size: 20px;
    font-family: $f-freight;
    font-weight: 300;
    color: $c-white;;
    letter-spacing: 0;
    @extend .f-text;
    p{
      margin:8px 0;
    }
    @media (max-width: 768px) {
      width:100%;
      font-size:18px;
      text-align: center;
      font-family: $f-freight;
      font-weight: 100;
      margin-right:auto;
      margin-left:auto;
      opacity:0.9;
    }
  }
}