body {
    background:$c-black !important;
    margin:0;
    padding-top:120px;
    @media(max-width:1024px) {
        padding-top:50px;
    }

}
.cNav {
    padding:15px 0;
    border-bottom:1px solid $c-teal;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index: 5;
    background:$c-black;
    &-search {
        display: none;
    }
    .navbar-brand {
        line-height: 0;
        .navbar-item {
            line-height: 0;
        }
        img {
            position:relative;
            z-index:6;
            width:200px;
            height:83px;
            @media(max-width:1024px) {
                width:100px;
                height:41px;
            }
        }
    }
    .container {
        width:90%;
        max-width: 1340px;
        margin:0 auto;
        display: flex;
        align-items: center;
        position: relative;
    }
    .navbar-start {
        display: flex;
    }
    .navbar-item {
        display: block;
        margin:0 25px;
        @extend .aktiv;
        @extend .animatable;
        font-size: 20px;
        color: $c-teal;;
        letter-spacing: 0;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        @media(max-width:1024px) {
            // font-size:35px;
            line-height: 2;
            text-align: right;
        }
        &:hover {
            color:$c-white;
        }
    }
    .navbar-menu {
        @extend .animatable;

        @media(max-width:1024px) {
            position:absolute;
            top:57px;
            left:-20px;
            right:-20px;
            padding:15px 0;
            background:$c-black;
            z-index:5;
            // transform:translateX(-100%);
            pointer-events: none;
            opacity: 0;
            border-bottom:1px solid $c-teal;
            &.is-active {
                opacity:1;
                pointer-events: auto;
                // transform: translateX(0);
            }
            .navbar-start {
                flex-direction: column;
                padding-right:15px;
            }
        }
    }
    .navbar-burger {
        position: absolute;
        top:50%;
        right:25px;
        transform:translateY(-50%);
        z-index:6;
        display: none;
        @media(max-width: 1024px) {
            display:block;
        }
        @extend .animatable;

        >span {
            width:25px;
            height:2px;
            background:$c-teal;
            display: block;
            margin:5px auto;
            @extend .animatable;
            transform-origin: center center;
        }
        &.is-active {
            transform:translateY(-50%) translateX(-15%);
            span:nth-child(2) {
                opacity: 0;
                width:1px;
                
            }
            span:first-child {
                transform:rotate(45deg) translateX(40%);
            }
            span:last-child {
                transform:rotate(-45deg) translateX(40%);
            }
        }
    }
}