.cPage {
    width:90%;
    max-width: 1280px;
    margin:0 auto;
    padding:50px 0;
    @media (max-width: 768px) {
        padding:60px 0 0 0;
    }
    &-title {
        @extend .title;
        @media (max-width: 768px) {
            text-align: left;
        }
    }
    &-content{
        margin-top:35px;
        font-size: 16px;
        line-height: 20px;
        font-family: 'aktiv-grotesk-thin';
        font-weight: 200;
        a {
            color:currentColor;
        }
        h2 {
            margin: 25px 0 15px 0;
            font-family: $f-aktiv;

            @extend .subtitle;
            @media(max-width: 768px) {
                font-size:15px;
                line-height: 20px;
            }
        }
        strong {
            font-weight: bold;
            font-family: $f-aktiv;

        }
        p {
            margin: 0 0 15px 0;
            @media(max-width: 768px) {
                font-size:15px;
                line-height: 20px;
            }
        }
    }
}