.cTeam {
    &-list {
        display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
        @media(max-width: 940px) {
            position: relative;
            margin-left:-5%;
            margin-right:-5%;
            overflow: hidden;
        }
    }
    &-inner {
        width:90%;
        max-width: 1240px;
        margin:0 auto;
        position: relative;
    }
    &-title {
        margin:50px 0;
        text-transform: uppercase;
        font-family: $f-aktiv;
        font-weight: bold;
        font-size: 40px;
        color: $c-white;;
        letter-spacing: 0;
        @media(max-width: 940px) {
            font-size: 40px;
            color: $c-white;
            letter-spacing: 0;
            text-align: center;
            margin:50px 0 25px 0;
        }
    }
    &Member {
        width:45%;
        max-width: 520px;
        position: relative;
        display: flex;
        flex-grow:0;
        flex-shrink: 0;
        margin:0;
        @media(max-width: 940px) {
            width:100%;
            text-align: center;
            flex-direction: column;
            margin:0 auto 25px auto;
            max-width: none;
            padding:0 5% 5% 5%;
            border-bottom:1px solid $c-teal;
            &:last-child {
                border-bottom:0;
            }
            &-infos {
                max-width: 380px;
                margin:0 auto;
            }
        }
        &-image {
            width:33%;
            max-width: 110px;
            position: relative;
            flex-grow:0;
            flex-shrink:0;
            margin:15px 20px 0 0;
            align-self:flex-start;
            &:after {
                content:"";
                display: block;
                padding-top:100%;
            }
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 100%;
            @media(max-width: 940px) {
                width:40%;
                margin:0 auto 15px auto;
            }
        }
        &-name {
            font-family: $f-aktiv;
            font-weight: bold;
            font-size: 40px;
            color: $c-white;;
            letter-spacing: 0;
            margin:0 0 12px 0;
            @media(max-width: 940px) {
                font-size: 26px;
                letter-spacing: 0;
                text-align: center;
            }
        }
        &-title {
            font-family: $f-aktiv;
            font-weight: bold;
            font-size: 20px;
            color: $c-white;;
            letter-spacing: 0;
            margin:0 0 12px 0;
            @media(max-width: 940px) {
                font-size: 20px;
                letter-spacing: 0;
                text-align: center;
            }
        }
        &-text {
            font-family: $f-freight;
            opacity:0.8;
            font-weight: 300;
            font-size: 15px;
            color: $c-white;;
            letter-spacing: 0;
            line-height: 20px;
            a {
                color:currentColor;
            }
        }
        &-links {
            margin:12px 0;
            img {
                width:28px;
            }
            a{
                display: inline-block;
                margin-right:10px;
                @extend .animatable;
                &:hover {
                    transform:translateY(-2px);
                }
            }
        }
    }
}


.cJobs {
    margin-top:45px;
    border-top: 1px solid $c-teal;
    &-inner {
        @extend .cTeam-inner;
        padding:35px 0;
        @media(max-width: 768px) {
            padding:0;
        }
    }
    &-title {
        @extend .cTeam-title;
    }
    &Posting {
        max-width: 1152px;
        display: flex;
        @media(max-width: 768px) {
            flex-direction: column;
        }
        &-title {
            font-family: $f-aktiv;
            font-size: 40px;
            font-weight: bold;
            color: $c-white;
            letter-spacing: 0;
            margin:35px 0;
            @media(max-width: 768px) {
                font-size: 20px;
            }
        }
        &-features {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: $f-aktiv;
            font-family: 'aktiv-grotesk-thin';
            font-weight: 200;
            font-size: 20px;
            color: $c-white;
            letter-spacing: 0;
            @media(max-width: 768px) {
                font-size: 13px;
                letter-spacing: 1.33px;
            }
            img {
                margin:0 15px 0 0;
                vertical-align: middle;
                @media(max-width: 768px) {
                    width:20px;
                    height:auto;
                    margin-right:8px;
                }
            }
            :first-child img, :last-child img {
                @media(max-width: 768px) {
                    height:18px;
                    width:auto;
                }
            }
        }
        &-link {
            display: block;
            padding:15px 25px;
            text-transform: uppercase;
            font-family: $f-aktiv;
            font-weight: bold;
            font-size: 15px;
            color: $c-white;;
            letter-spacing: 1px;
            text-align: center;
            background:$c-teal;
            border:1px solid $c-teal;
            margin:auto 0 auto auto;
            @extend .animatable;
            text-decoration: none;
            &:hover {
                color:$c-teal;
                background: $c-white;
            }
            @media(max-width: 768px) {
                margin:20px auto 15px 0;
                font-size: 15px;
                letter-spacing: 0.94px;
            }
        }
    }
}