.cTeam {
    &-list {
        display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
        @media(max-width: 940px) {
            position: relative;
            margin-left:-5%;
            margin-right:-5%;
            overflow: hidden;
        }
    }
    &-inner {
        width:90%;
        max-width: 1240px;
        margin:0 auto;
        position: relative;
    }
    &-title {
        margin:50px 0;
        text-transform: uppercase;
        font-family: $f-aktiv;
        font-weight: bold;
        font-size: 40px;
        color: $c-white;;
        letter-spacing: 0;
        @media(max-width: 940px) {
            font-size: 40px;
            color: #FFFFFF;
            letter-spacing: 0;
            text-align: center;
            margin:50px 0 25px 0;
        }
    }
    &Member {
        width:45%;
        max-width: 520px;
        position: relative;
        display: flex;
        flex-grow:0;
        flex-shrink: 0;
        margin:0;
        @media(max-width: 940px) {
            width:100%;
            text-align: center;
            flex-direction: column;
            margin:0 auto 25px auto;
            max-width: none;
            padding:0 5% 5% 5%;
            border-bottom:1px solid $c-teal;
            &:last-child {
                border-bottom:0;
            }
            &-infos {
                max-width: 380px;
                margin:0 auto;
            }
        }
        &-image {
            width:33%;
            max-width: 110px;
            position: relative;
            flex-grow:0;
            flex-shrink:0;
            margin:15px 20px 0 0;
            align-self:flex-start;
            &:after {
                content:"";
                display: block;
                padding-top:100%;
            }
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 100%;
            @media(max-width: 940px) {
                width:40%;
                margin:0 auto 15px auto;
            }
        }
        &-name {
            font-family: $f-aktiv;
            font-weight: bold;
            font-size: 40px;
            color: $c-white;;
            letter-spacing: 0;
            margin:0 0 12px 0;
            @media(max-width: 940px) {
                font-size: 26px;
                letter-spacing: 0;
                text-align: center;
            }
        }
        &-title {
            font-family: $f-aktiv;
            font-weight: bold;
            font-size: 20px;
            color: $c-white;;
            letter-spacing: 0;
            margin:0 0 12px 0;
            @media(max-width: 940px) {
                font-size: 20px;
                letter-spacing: 0;
                text-align: center;
            }
        }
        &-text {
            font-family: $f-freight;
            font-weight: lighter;
            font-size: 15px;
            color: $c-white;;
            letter-spacing: 0;
            line-height: 20px;
            a {
                color:currentColor;
            }
        }
        &-links {
            margin:12px 0;
            img {
                width:28px;
            }
            a{
                display: inline-block;
                margin-right:10px;
                @extend .animatable;
                &:hover {
                    transform:translateY(-2px);
                }
            }
        }
    }
}
