$c-white: #FFF;
$c-black: #000;
$c-teal: #00BBBA;
$f-aktiv: 'aktiv-grotesk', Helvetica, Arial, sans-serif;
$f-freight: 'freight-text-pro', Helvetica, Arial, sans-serif;
$animation-function: cubic-bezier(.497, .51, .25, 1) !default;
$animation-delay: 350ms !default;

body {
    font-family: $f-aktiv;
    color:$c-white;
}

.aktiv {
    font-family: $f-aktiv;
}

.freight {
    font-family: $f-freight;
}



//
// animatable
//
.animatable{
   transition-timing-function:$animation-function;
   transition-duration: $animation-delay;
   transition-property: all;
}
