$c-white: #FFF;
$c-black: #000;
$c-green: #00BBBA;
$f-aktiv: 'aktiv-grotesk', Helvetica, Arial, sans-serif;
$f-freight: 'freight-text-pro', Helvetica, Arial, sans-serif;

body {
    font-family: $f-aktiv;
    color:$c-white;
}

.aktiv {
    font-family: $f-aktiv;
}

.freight {
    font-family: $f-freight;
}