body {
    text-rendering: optimizeLegibility;
}
@import 'config/variables';
* {
    box-sizing: border-box;
}
.title {
    font-size:40px;
    font-weight: bold;
    margin:0 0 15px 0;
    letter-spacing: 0;
    @media (max-width: 768px) {
        font-size: 26px;
        letter-spacing: 0;
        text-align: center;
    }
}

.subtitle {
    font-weight: bold;
}
.f-text {
    font-family: $f-freight;
    font-weight: lighter;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0;
}
@import 'components/navbar';
@import 'components/team';
@import 'components/footer';
@import 'components/page';
@import 'components/homeheader';
@import 'components/homeslider';
